<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="css/style5.css">
</head>
<body>
    <header>
        <h1>About Us</h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/contactUs">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="about">
            <h2>Our Team</h2>
            <p>We are a group of dedicated students who share a passion for coding and technology. Our journey is fueled by curiosity, creativity, and the joy of problem-solving. With each line of code, we strive to push boundaries and innovate, making meaningful contributions to the digital world.</p>
            <p>Join us as we embark on exciting projects, collaborate, and grow together. Together, we aspire to learn, inspire, and leave our mark on the ever-evolving landscape of technology</p>
        </section>
        <section class="mission">
            <h2>Our Mission</h2>
            <p>Our mission is to provide accurate and reliable weather information to our users, helping them make informed decisions about their daily activities and plans.</p>
            <p>We are committed to continuously improving our app and services to meet the evolving needs of our users and provide the best possible user experience.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 WeatherApp. All rights reserved.</p>
    </footer>
</body>
</html>
