<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="css/style.css">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Check if the user's agreement is stored in localStorage
            let userAgreed = localStorage.getItem('userAgreed');

            // If not, ask for permission and store the response
            if (userAgreed === null) {
                userAgreed = window.confirm("We need your location to provide local weather information. Do you allow us to access your location?");
                localStorage.setItem('userAgreed', userAgreed);
            }

            requestUserLocation(userAgreed);
        });
    </script>
</head>
<body>
    <header class="header-container">
        <nav class="navbar">
            <div class="menu-container">
                <img src="imgs/588a64e0d06f6719692a2d10.png" class="menu-button">
                <div class="nav-links">
                    <a href="/forecast" class="nav-link">Forecast Search</a>
                    <a href="/history" class="nav-link">Historical Data</a>
                    <a href="/map" class="nav-link">Map</a>
                    <a href="/userPref" class="nav-link">User Preference</a>
                    <% if (username) { %>
                        <a href="/users/admin" class="nav-link">Admin</a>
                        <a href="/logout" class="nav-link">Logout</a>
                    <% } else { %>
                        <a href="/login" class="nav-link">Login</a>
                    <% } %>
                </div>
            </div>
        </nav>
        <div class="headerText">
            <h1>Weather Tracker</h1>
            <p class="welcome-message">Welcome <%= username %></p>
        </div>
    </header>    
    <main class="dashboard">
        <div class="info-panels">
            <div class="panel" id="weatherPanel">
                <h3>Current Weather</h3>
                <div id="cityName"></div>
                <div id="temperature"></div>
                <div id="condition"></div>
                <img id="weatherIcon" src="" alt="Weather Icon" style="display:none;">
            </div>   
            <div class="panel" id="forecastPanel">
                <h3>Current Forecast</h3>
                <div id="weatherForecast"></div>
            </div>
            <div class="panel" id="searchPanel">
                <h3>Current Weather Search</h3>
                <input type="text" id="cityinput" placeholder="Enter City Name">
                <button onclick="submitCityName('cityinput','weatherDisplay')">Get Weather</button>
                <div id="weatherDisplay"></div>
            </div>
        </div>
    </main>

    <footer>
        <a id="sendButton" class="nav-link">Alerts</a>
        <a href="/aboutUs" class="nav-link">About Us</a>
        <a href="/contactUs" class="nav-link">Contact Us</a>
    </footer>
    <script src="/noti-helper.js"></script>
    <script src="/weathertest.js"></script>
    <script src="/getCurrentLocation.js"></script>
</body>  
</html>