<!DOCTYPE html>
<html>
<head>
    <title>Redirecting...</title>
    <meta http-equiv="refresh"  url=/home">
</head>
<a href="login" class="login-link">Login</a>

<body>

    <p>If you are not redirected in 5 seconds, <a href="/home">click here</a>.</p>
    <script>
        window.location.href = "/home";
    </script>
</body>
</html>

