<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cosc310map.css">
    <link rel="stylesheet" href="css/style.css">
    
    <title>World Map</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
        #search-box {
            width: 300px;
            margin: 10px;
            padding: 10px;
            font-size: 16px;
        }
        h1{
            display: inline;
            color: white;
        }
    </style>
</head>
<body>
    <div class="top-bar">
    <header class="header-search-container">
        <h1>Weather Tracker</h1>
        <input type="text" id="search-box" placeholder="Search for a location">
    </header>
    <div id="pointerWeather"></div>
    </div>
    
    <div id="map"></div>

    
    <script src="/weathertest.js"></script>
    <script src="/map.js"></script>
    <script>
    function loadGoogleMapsAPI() {
        var script = document.createElement('script');
        script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBXVw7X4ZqC2STyVwNruedgvImMAdDOeJo&libraries=places&callback=initMap';
        script.async = true;
        script.defer = true;
        document.head.appendChild(script);
    }
    
    // Assuming initMap is defined above or elsewhere in the global scope
    loadGoogleMapsAPI();
    </script>
</body>
</html>
