body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #216DFF;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

h2{
    color: #216DFF;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter-buttons {
    margin-bottom: 20px;
}
.filter-button {
    background-color: #216DFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.filter-button:last-child {
    margin-right: 0;
}
.search-bar {
    margin-bottom: 20px;
}
.search-input {
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
.graphs-container {
    display: grid;
    place-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.graph-box {
    width: calc(80% - 10px);
    height: 500px;
    margin-bottom: 100px;
    background-color: #fff;
    border: 3px solid #216DFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
select {
    width: 200px;
    height: 40px;
    font-size: 16px;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

select option {
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    padding: 5px;
}


.select2-container {
    font-family: Arial, sans-serif;
    max-width: 300px; 
}

.select2-selection {
    border: 1px solid #ccc !important; 
    border-radius: 4px !important; 
    padding: 4px !important; 
}


.select2-dropdown {
    border-radius: 4px; 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175); 
}


.select2-results__option {
    padding: 8px; 
    color: #333; 
}


.select2-search--dropdown .select2-search__field {
    border: 1px solid #ccc;
}


header button:hover {
    background-color: #0056b3;
}

header button:focus {
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

header button {
    color: white;
    background-color: #133575;
    border-radius: 30px;
    box-shadow: inset 0 0 0 #0056b3;
    width:100px;
    user-select: none;
    text-decoration: none;
}

h1 {
    text-align: center;
    flex-grow: 1;
}
