body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header .header-container {
    text-align: right;
    padding: 10px 20px;
}

.login-link {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-link:hover {
    background-color: #0056b3;
}

.dashboard {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.info-panels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.panel {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.panel h3, .panel input[type=text], .panel button {
    margin: 10px 0;
}

.panel input[type=text], .panel button {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.panel button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.panel button:hover {
    background-color: #0056b3;
}

.panel-link {
    display: block;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.panel-link:hover {
    background-color: #0056b3;
}
