/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #216DFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Dashboard Styles */

.dashboard {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.info-panels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: auto;
    max-width: 1200px;
    box-sizing: border-box;
}

.panel {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#weatherPanel{
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; 
    height:390px;
}
.weather-forecast-entry{
    height: 70px;
}

#searchPanel{
    height: 390px;
    overflow: auto;
}

.panel h3, 
.panel input[type=text], 
.panel button {
    margin: 10px 0;
    font-family: 'Arial', sans-serif; 
}

.panel input[type=text], 
.panel button {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.panel button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.panel button:hover {
    background-color: #0056b3;
}

.panel-link {
    display: block;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.panel-link:hover {
    background-color: #0056b3;
}

.panel div {
    margin-bottom: 10px; 
    font-size: 16px; 
    color: #333;
    text-align: left;
}

.panel img {
    margin-top: 20px;
    width: 80px; 
    height: auto;
}

/* Header Styles */

h1{
    display: inline-block;
    margin: 0;
}
.headerText{
    display: block;
    color: white;
    text-align: center;
    margin-top: -30px;
}


.header-container {
    background-color: #007bff; 
    padding: 10px 20px;
    justify-content: center;
    height: 8vw;
}

.navbar {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.menu-container .nav-links {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #f0f0f0; 
    display: none;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.menu-container:hover .nav-links {
    display: block;
}

.menu-container > img {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.nav-link, #sendButton {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    background-color: #0056b3;
    border: none;
    cursor: pointer;
    text-align: center; 
}

.nav-link:hover, #sendButton:hover {
    background-color: #00387b;
}


.welcome-message {
    color: white;
}

/* dashboard panels */
#weatherPanel {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#weatherPanel > * {
    text-align: center; 
}

#weatherIcon{
    margin: auto;
    align-self: auto;
    justify-content: auto;
}

#cityName {
    font-weight: bold;
    font-size: 24px; 
    margin: 0; 
}

#temperature {
    color: #FF5722; 
    font-size: 48px; 
    margin: 20px 0; 
}

#condition {
    font-style: italic;
    font-size: 20px;
    margin: 10px 0;
}

.weather-icon {
    display: block; 
    width: 60px; 
    height: auto;
}
#weather-icon {
    display: block; 
    width: 60px; 
    margin-bottom: 50px;

}
/* Weather Info Styles */

.weather-info {
    text-align: center;
    margin: 20px auto;
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: block;
    width: 80%;
    max-width: 320px;
}

#weatherDisplay{
    text-align: center;
}

.weather-location, .weather-temperature, .weather-condition {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 8px 10px;
    background-color: #e8e8e8;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}


.weather-temperature {
    font-weight: bold;
    color: #E53935; /* Adds emphasis to temperature */
}

.weather-condition {
    text-transform: capitalize; /* Ensures the weather condition looks uniform */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .weather-display {
        flex-direction: column;
    }
}

.weather-city {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
/* Weather Forecasts Styles */

.weather-forecasts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-forecast-entry {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 600px; /* Adjust as necessary */
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-forecast-entry span {
    margin: 0 10px; /* Spacing between elements */
}

.forecast-date {
    font-weight: bold;
}

.forecast-description {
    font-style: italic;
}
